* { box-sizing: border-box; }

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main {
    background-color: hsl(233, 47%, 7%);
    width: 375px;
    height: 1000px;
    border: 2px solid chartreuse;
    
}

.contenedor {
    width: 345px;
    height: 900px;
    background-color: hsl(244, 38%, 16%);
    border: 2px solid red; 
    margin-left: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

}

 .contenedorImagen {
    background-image: url(./images/image-header-mobile.jpg);
    width: 345px;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  
    
}


main h1 {
    color: hsl(0, 0%, 100%);
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 27px;
}

h1 strong {
    color: hsl(277, 64%, 61%) ;
}
main p {
    color:hsla(0, 0%, 100%, 0.75);
        
}

.parrafoPrincipal {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 26px;
    font-size: 15px;
}

 #estadistica {  
    margin-top: 25px;
    
  }

.box {
    
    text-align: center;
    /* border: 2px solid fuchsia; */
    width: 200px;
    margin: 0 auto;
}

.box h3 {
    color: hsla(0, 0%, 100%);
    font-size: 20px;
    margin-bottom: 0; 
    font-weight: bold;
}

.box p {
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 15PX;
    font-size: 10px;
    margin-top: 3px;    
} 

@media (min-width: 1440px) {

    * { box-sizing: border-box; }

    main {
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100vh;
    border: 2px solid chartreuse;
    }
    
    .contenedor {
    width: 80%;
    height: 60vh;
    background-color: hsl(244, 38%, 16%);
    border: 2px solid red; 
    margin: 20vh auto 10vh auto;
    position: relative;
    }
    
    .contenedorImagen {    
    position: absolute;
    right: 0;
    width: 50%;
    height: 60vh;
    background-size: cover; 
    opacity: 0.6;
    
    }

    main h1 {       
        position: absolute;
        width: 40%;
        height: 40vh;
        text-align: left;  
        left: 3%; 
        top: 5%;
        font-size: 38px; 
        font-weight: 800;             
    } 
    
    .parrafoPrincipal {
        position: absolute;
        width: 40%;
        top: 35%;
        font-size: 20px;
        text-align: left;
        left: 3%; 
        line-height: 2.5rem;          
    }

    #estadistica {  
        position: absolute;
        width: 40%;        
        top: 60%;    
        left: 6%;           
    }

    .box {       
        width: 30%; 
        position: absolute;
       
    }

    .box1 {
        left: 0;
        text-align: left;
    }

    .box2 {
        left: 35%;
        text-align: center;
    } 

    .box3 {
        right: 10%;
        text-align: right;
    }


    
    

 }
    
    