.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main {
    background-color: hsl(233, 47%, 7%);
    width: 375px;
    height: 900px;
    border: 2px solid chartreuse;
}

.contenedor {
    width: 350px;
    height: 800px;
    background-color: hsl(244, 38%, 16%);
    border: 2px solid red;

}

 .contenedorImagen {
    background-image: url(./images/image-header-mobile.jpg);
    width: 350px;
    height: 50vh;
    background-color: hsl(244, 38%, 16%);
    background-position: center;    
    background-repeat: no-repeat;    
}

main h1 {
    color: hsl(0, 0%, 100%);

}
main p {
    color:hsla(0, 0%, 100%, 0.75);
    Font size: 15px
}

#estadistica h3 {
    margin: 10px 20px;
    padding: 10px;
    width: 100px;
}

#estadistica p {
    margin: 10px 20px;
    padding: 10px;
    width: 100px;

}

.box h3 {
    color:  hsl(0, 0%, 100%);
    Font size: 15px
    

}
.box p {
    color:hsla(0, 0%, 100%, 0.75);
    Font size: 15px

}